@{
    ViewBag.Title = "Welcome";
    ViewBag.header = "Home";
}

<div class="hero-unit">
<center><div style="height:200px; width:220px; background-image:url(../img/agile-scrum.png);"></div>
  <h1 style="text-shadow: 0px 4px 6px #534E4E; color:#A5A1A1">Welcome</h1>
  <p>To the Team53 Scrum Management App</p>
    

  <p>
    <a class="btn btn-primary btn-large" href="@Url.Action("logIn","session")">
      Sign In
    </a>
  </p></center>
</div>

